<div [formGroup]="taskForm" class="center-fixed view-container" style="width: 400px; margin: auto;">
    <app-back-btn style="top: -60px; left: 10px; position: absolute;"></app-back-btn>
    <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" [ngClass]="{'input-error': (!taskForm.valid) && (taskForm.controls['title'].touched)}" formControlName="title" />
            </div>

            <div class="form-group">
                <label for="content">Content</label>
                <textarea type="text" class="form-control" formControlName="content" ></textarea>
            </div>
            <div style="text-align:right">
            <button (click)="saveTask()" class="btn btn-success">Save</button>
            </div>

        </div>
    </div>
</div>