.task-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
    padding: 10px;
    align-items: center;
}

.paired-row {
    background: #dcdcdc7a;
    border-radius: 8px;
}
