<div class="task-container" [ngClass]="{'paired-row':index%2==0}">
    <span class="task-name">{{index+1}}) {{task.title}}</span>
    <div>
        <a [routerLink]="['task-view', task.id]" class="btn"><i class="bi bi-eye-fill"></i></a>
        <a [routerLink]="['task-form', task.id]" class="btn"><i class="bi bi-pencil-square"></i></a>
        <a (click)="openModal(deletecheck)" class="btn"><i class="bi bi-trash-fill"></i></a>
    </div>
</div>

<ng-template #deletecheck let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Are you sure you want to delete <b>{{task.title}}</b>?</h5>
    </div>
  
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close(true)">Yes</button>
      <button type="button" class="btn btn-warning" (click)="modal.close(false)">No</button>
    </div>
  </ng-template>
