
<div class="center-fixed view-container">
    <app-back-btn style="top: -60px; left: 10px; position: absolute;"></app-back-btn>
    <a class="edit-icon btn" [routerLink]="['/task-form', task.id]"><div><i class="bi bi-pencil-fill"></i></div></a>

    <div>
        <div>
            <span class="label">Title</span>
        </div>
        <div>
            <span class="content">{{task.title}}</span>
        </div>
    </div>
    <div>
        <div>
            <span class="label">Content</span>
        </div>
        <div>
            <span class="content">{{task.content?task.content:'-'}}</span>
        </div>
    </div>
</div>