.label{
font-size: 14px;
font-weight: bold;
}

.content{
    font-size: 17px;
    margin-left: 10px;
}

.edit-icon{
    top: -60px;
    right: 10px;
    position: absolute;

}

.edit-icon div{
    background: gray;
    width: 27px;
    height: 27px;
    border-radius: 19px;
}

.edit-icon i{
    font-size: 16px;
    color: white;
    /* top: 2px; */
    /* position: absolute; */
    /* left: 6px; */
    background: gray;
    width: 27px;
    height: 27px;
    border-radius: 19px;
}