<div class="container">
    <div style='text-align: right; padding: 10px;' *ngIf="loaded">
        <a [routerLink]="['task-form']" class="btn btn-success" [ngClass]="{'center-fixed': tasks.length === 0}">Add</a>
    </div>
    <div *ngIf="!loaded" class="center-fixed">
        <div class="spinner-border text-success" style="height: 75px; width: 75px; border-width: 7px;" role="status">
        </div>
    </div>
    <div>
        <app-task *ngFor="let task of tasks; let index = index" [task]="task" [index]="index"
            (refreshList)="getTasks()"></app-task>
    </div>
</div>