/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

.center-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

.input-error {
    border: 2px solid red;
}

.container {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.view-container {
    width: 600px;
    background: #e9ecef47;
    border-radius: 15px;
    padding: 25px;
    -webkit-box-shadow: 3px 3px 10px -3px #000000;
    box-shadow: 3px 3px 10px -3px #000000;
}
